.header-layout {
	@include _clearfix;
	@extend .base-layout;
	
	&._scrolled {
		padding-bottom: 8px;
		padding-top: 8px;
	}
	
	line-height: 50px;
	transition: .35s ease-in-out;

	> .mobile-menu {
		display: none;
		float: left;
		width: 40%;
		@media (max-width: $breakpoint-small) { float: right; width: auto;}
		@media (max-width: $breakpoint-medium) { display:block; }
	}

	> .main-menu {
		float: left;
		width: 40%;	
	}

	> .simple-logo {
		float: left;
		width: 20%;
		@media (max-width: $breakpoint-small) { width: 45%; }
	}

	> .user-menu {
		float: right;
		width: 40%;
		text-align: right;
		@media (max-width: $breakpoint-small) { display: none; }
	}
}