.page {
	position: relative;
	color: #777777;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  min-width: 265px;
}

.page__cart-widget {
	position: relative;
}

.page__cart-widget--show:after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
}

.page__header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background-color: #fff;
}

.page__slider {
	position: relative;
	width: 100%;
	margin: 77px auto 0 auto;
}

.page__shop {
	position: relative;
	width: 100%;
	background-color: #fff;
}

.page__footer {
	position: relative;
	width: 100%;
	background-color: #282828;
}

.page__product-content {
	position: relative;
	width: 100%;
	background-color: #eee;
}