<div class="search-box" id=searchBox>
	<div class="vendor-filter">
		<input type="checkbox" class="input" id="tpa" checked />
		<label class="label" for="tpa">The Perfumer's Apprentice</label>

		<input type="checkbox" class="input" id="capella" checked />
		<label class="label" for="capella">Capella Flavors</label>

		<input type="checkbox" class="input" id="steam-whale" checked />
		<label class="label" for="steam-whale">Stean Whale</label>
	</div>
	<input class="search" autocomplete="off" placeholder="Введите название товара">
	<span class="remove"></span>
</div>