.mobile-menu {
	position: relative;
  padding: 19px 12px;
  > .cart-count {
  	position: absolute;
  	display: none;
    left: 0;
    top: -10px;
    @media (max-width: $breakpoint-small) { display: block; }
  }
}