.slider-carousel {
	position: relative;
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.news-navigation {
	max-width: 300px;
  max-height: 550px;
  overflow: hidden;
  position: absolute;
  padding: 0px;
  top: 0;
  right: 0;
  margin: 25px 25px 25px 0;
  z-index: 1;
  @media(max-width: $breakpoint-large) { display: none; }
  > .item {
  	width: 300px;
    height: 100px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    &._active > .title, &._active > .description { opacity: 1; }
    &:hover > .title, &:hover > .description { opacity: 1; }

  	> .title {
	  	color: rgb(168, 216, 238);
	    font-size: 13px;
	    font-weight: 700;
	    text-transform: uppercase;
	    margin: 0 0 5px 0;
	    line-height: 15px;
	    opacity: .5;
	    transition: .35s ease;
	  }
	  > .description {
	  	font-size: 18px;
    	font-weight: 400;
    	color: rgb(255, 255, 255);
    	line-height: 25px;
    	margin: 0;
    	opacity: .5;
    	transition: .35s ease;
	  }
  }
}

.slider-frame {
	position: absolute;
	width: 100%;
	height: 100%;
	> .item {
		position: relative;
		height: 550px;
		> .image {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			&:after {
				content: " ";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, .45);
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAADFBMVEX///8AAAAAAAAAAAD4jAJNAAAABHRSTlMAHUhNl6CumQAAACdJREFUSMdjVGLAARgFccmwjOoZ1TOqZ1TPqJ5RPaN6RvWM6hn2egAwugrub70DrwAAAABJRU5ErkJggg==);
			}
		}
		> .title {
		min-width: 300px;
	  max-width: 600px;
		color: rgba(168,216,238,1.00);
	  white-space: nowrap;
	  line-height: 20px;
	  margin: 0;
	  padding: 8% 0 0 5%;
	  letter-spacing: 0;
	  font-weight: 900;
	  font-size: 15px;
	  text-transform: uppercase;
		}
		> .description {
		min-width: 330px;
	  max-width: 600px;
	  white-space: normal;
	  color: #fff;
	  line-height: 55px;
	  margin: 0px;
	  padding: 10px 0px 30px 5%;
	  letter-spacing: 0px;
	  font-weight: 400;
	  font-size: 48px;
	   @media(max-width: $breakpoint-large) { font-size: 30px; }
		}
		> .readmore {
		display: inline-block;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		border: 1px solid rgba(255, 255, 255, 0.25);
		padding: 12px 35px;
		text-decoration: none;
		text-align: center;
		line-height: 17px;
		margin-left: 5%;
		transition: .35s ease-in-out;
		&:hover { background-color: #fff; color: #333; }
		}
	}
}
