<div class="slider-carousel" id="sliderCarousel">
	<div class="news-navigation">
		<div class="item _active" data-slider-trigger="1">
			<h2 class="title">Новая динейка вкусов</h2>
			<p class="description">Мы запускаем в продажу абсолютно новые вкусы!</p>
		</div>
		<div class="item" data-slider-trigger="2">
			<h2 class="title">Новая динейка вкусов</h2>
			<p class="description">Мы запускаем в продажу абсолютно новые вкусы!</p>
		</div>
		<div class="item" data-slider-trigger="3">
			<h2 class="title">Новая динейка вкусов</h2>
			<p class="description">Мы запускаем в продажу абсолютно новые вкусы!</p>
		</div>
		<div class="item" data-slider-trigger="4">
			<h2 class="title">Новая динейка вкусов</h2>
			<p class="description">Мы запускаем в продажу абсолютно новые вкусы!</p>
		</div>
		<div class="item" data-slider-trigger="5">
			<h2 class="title">Новая динейка вкусов</h2>
			<p class="description">Мы запускаем в продажу абсолютно новые вкусы!</p>
		</div>
	</div>
	<div class="slider-frame" id="sliderFrame">
		<div class="item" data-slider-target="1">
			<div class="image" style="background-image: url(img/slide.jpg)">
				<h3 class="title">Новая линейка вкусов</h3>
				<p class="description">Мы запускаем в продажу абсолютно новые вкусы!</p>
				<a class="readmore">Читать...</a>
			</div>


		</div>
		<div class="item" data-slider-target="2">
			<div class="image" style="background-image: url(img/slide.jpg)"></div>

		</div>
		<div class="item" data-slider-target="3">
			<div class="image" style="background-image: url(img/slide.jpg)"></div>
		</div>
		<div class="item" data-slider-target="4">
			<div class="image" style="background-image: url(img/slide.jpg)"></div>
		</div>
		<div class="item" data-slider-target="5">
			<div class="image" style="background-image: url(img/slide.jpg)"></div>
		</div>
	</div>
</div>