.main-layout {
	@extend .base-layout;
	> .category-navigation {
		float: left;
		width: 75%;
	}

	> .filter-navigation {
		float: right;
		width: 25%;
	}
	> .search-box {
		display: none;
		width: 100%;
	}
}