<div class="products-singleview">
	<img class="image" src="img/slider-alt.jpg" />
	<form class="product-meta" method="post">
		<h1 class="title">Steam Whale Deep Blue</h1>
		<span class="price">550</span>
		<p class="description">Банан в миксе с кондитерским кремом и карамелью. Жидкость подойдет любителям сладенького, нотки сладкой карамели не оставят Вас равнодушным. Потрясающий вкус, который идеально подойдет на каждый день.</p>
		<p class="vendor">Производитель: <span class="_ink">Steam Whale, Россия</span></p>
		<button class="add" type="submit">Добавить в корзину</button><input type="number" step="1" min="1" max="999" name="count" value="1" class="quantity">
		<nav class="social-menu _product">
			<a class="item _like" target="_blank" href="#">46</a>
			<a class="item _vk" target="_blank" href="#"></a>
			<a class="item _ok" target="_blank" href="#"></a>
			<a class="item _facebook" target="_blank" href="#"></a>
			<a class="item _twitter" target="_blank" href="#"></a>
		</nav>
	</form>
</div>