.products-singleview {
	@include _clearfix;
	> .image {
		width: 66.666667%;
		float: left;
		padding-right: 42px;
    padding-left: 10%;
		@media (max-width: $breakpoint-large) { width: 100%; padding-left: 12px; padding-right: 12px;}
	}
	> .product-meta {
		width: 33.33333333%;
		float: right;
		padding: 0 12px;
		@media (max-width: $breakpoint-large) { 
			width: 100%;
			margin-top: 20px;
		}
		> .title {
			font-size: 26px;
			font-weight: 400;
			color: #282828;
			line-height: 1.2;
			margin: 0;
		}
		> .price {
			display: block;
			color: $secondary-color;
			font-size: 22px;
			font-weight: 300;
			line-height: 1;
			vertical-align: top;
			padding: 12px 0 22px;
			&:after {
				@include _icon;
				content: $font-Flaticon-ruble;
				font-size: 18px;
			}
		}
		> .description {
			margin: 0;
			line-height: 1.8;
			padding-bottom: 22px;
		}
		> .vendor {
			margin: 0;
			line-height: 1.8;
			padding-bottom: 22px;
			> ._ink { color: $secondary-color; }
		}
		> .add {
			display: inline-block;
			color: #fff;
			background-color: #282828;
			padding: 14px;
			line-height: 16px;
			width: 75%;
			font-size: 16px;
			border: 0;
			transition: .35s ease;
			cursor: pointer;
			&:hover { background-color: #444; }
			@media (max-width: $breakpoint-large) { width: 30%; }
			@media (max-width: $breakpoint-medium) { width: 75%; }
		}
		> .quantity {
			display: inline-block;
			color: #fff;
			background-color: #282828;
			padding: 14px;
			line-height: 16px;
			width: 25%;
			text-align: center;
			font-size: 15px;
			border: 0;
			border-left: 1px solid #dadada;
			outline: 0;
			@media (max-width: $breakpoint-large) { width: 10%; }
			@media (max-width: $breakpoint-medium) { width: 25%; }
		}
	}
}

.social-menu._product {
	display: block;
	text-align: left;
	padding: 18px 0;
		> .item:after { color: $primary-color; }
		> .item:hover:after { color: #282828; }
	}