.about-information {
	  padding-top: 20px;
    padding-bottom: 48px;
	> .header {
		float: left;
		padding-left: 12px;
		width: 35%;
		text-align: center;
		font-size: 26px;
    font-weight: 400;
    color: #282828;
    line-height: 1.2;
    margin: 0;
    @media (max-width: $breakpoint-medium) { width: 100%; padding-bottom: 24px; }
	}

	> .content {
		float: right;
		padding-right: 12px;
		width: 65%;
		white-space: pre-line;
		@media (max-width: $breakpoint-medium) { width: 100%; }
		> .highlight {
		color: #dc9814;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
}