.products-list {
	padding: 7px 0 6px 0;
}

.products-list-item {
	position: relative;
	font-size: 16px;
	width: 100%;
	color: #eee;
	padding-top: 14px;
	overflow: hidden;
}

.products-list-item__image {
	display: block;
	width: 20%;
	height: 74px;
	float: left;

}

.products-list-item__remove {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  text-align: right;
  color: #a5a5a5;
  cursor: pointer;
  transition: .35s ease;
}

.products-list-item__remove:hover {
	color: #eee;
}

.products-list-item__remove > .icon--close:before {
	font-size: 12px;
}

.products-list-item__header {
	display: block;
	width: 80%;
	float: left;
	padding: 0 0 0 20px;
	color: #eee;
	text-decoration: none;
}

.products-list-item__qty {
	display: block;
	width: 50%;
	float: left;
	color: #a5a5a5;
	padding: 0 0 0 20px;
}

.products-list-item__qty > .icon--play-back:before, .products-list-item__qty > .icon--play:before {
	font-size: 10px;
	vertical-align: middle;
	margin: 0;
	padding: 4px 8px;
	cursor: pointer;
	transition: .35s ease;
}

.products-list-item__qty > .icon--play-back:hover, .products-list-item__qty > .icon--play:hover {
	color: #eee;
}

.products-list-item__price {
	display: block;
	width: 30%;
	float: left;
	text-align: right;
}

.products-list-item__price > .icon--ruble:before {
	font-size: 14px;
	margin: -3px;
}

.products-list__item:after {
	display: block;
	content: "";
	clear: both;
	border-bottom: 1px solid #464646;
	padding-bottom: 14px;
}

.products-list > .products-list__item:last-child:after {
	border-bottom: none;
}

@media (max-width: 400px) {
  .products-list-item__image {
    display: none;
  }
  .products-list-item__header {
	width: 100%;
	padding: 0;
	}
	.products-list-item__qty {
	width: 70%;
	padding: 0;
}
}

.cart-widget-bottom-menu {
	position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 14;
  line-height: 1;
  background: #333;
  padding: 0 37px 37px;
  overflow: hidden;
}

.cart-widget__price-subtotal {

}

.cart-widget-price-subtotal {
	width: 100%;
  font-size: 18px;
  color: #eee;
  margin-bottom: 37px;
  padding: 19px 0;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
}

.cart-widget-price-subtotal__title {
	width: 65%;
	float: left;
	text-align: left;
}

.cart-widget-price-subtotal__summary {
	width: 35%;
	float: right;
	text-align: right;
}

.cart-widget-price-subtotal__summary > .icon--ruble:before {
    font-size: 16px;
    margin: 0;
}

.cart-widget-price-subtotal:after {
	display: block;
	content: "";
	clear: both;
}

.cart-widget-checkout {
	display: block;
	width: 100%;
	color: #eee;
	border: 1px solid #5f5f5f;
	padding: 12px;
	text-decoration: none;
	text-align: center;
}