.page-product-item {
	margin: 0 auto;
	padding: 20px 0;
}

.page-product-item:before,
.page-product-item:after {
	display: table;
  content: " ";
  clear: both;
}

.page-product-item__previews {
	position: relative;
	width: 8.33333333%;
  height: 300px;
	float: left;
	padding-right: 16px;
  padding-left: 16px;
}

.page-product-item__image {
	display: block;
  position: relative;
  margin-right: 16px;
  margin-left: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  width: 50%;
  float: left;
  min-height: 700px;
}

.page-product-item__info {
	position: relative;
	width: 33.33333333%;
	float: right;
	padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .page-product-item {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-product-item {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-product-item {
    width: 1170px;
  }
}

@media (min-width: 1280px) {
  .page-product-item {
    width: 1280px;
  }
}

@media (max-width: 992px) {
  .page-product-item__image {
    width: 100%;
    float: none;
  }
  .page-product-item__previews {
    display: none;
  }
  .page-product-item__info {
    width: 100%;
    float: none;
  }
  .page-product-item {
    padding: 0;
  }
}