@font-face {
  font-family: "Flaticon";
  src: url("./fonts/Flaticon.eot");
  src: url("./fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./fonts/Flaticon.ttf") format("truetype"),
       url("./fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

@mixin _icon {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
    
  $font-Flaticon-back: "\f100";
  $font-Flaticon-checked: "\f101";
  $font-Flaticon-close: "\f102";
  $font-Flaticon-eye: "\f103";
  $font-Flaticon-facebook: "\f104";
  $font-Flaticon-mail: "\f105";
  $font-Flaticon-bottle: "\f106";
  $font-Flaticon-next: "\f107";
  $font-Flaticon-odnoklassniki-logo: "\f108";
  $font-Flaticon-drop: "\f109";
  $font-Flaticon-ruble: "\f10a";
  $font-Flaticon-search: "\f10b";
  $font-Flaticon-like: "\f10c";
  $font-Flaticon-twitter: "\f10d";
  $font-Flaticon-vk: "\f10e";