<div class="products-listview">
	<div class="listview-item">
		<img class="thumb" src="img/product-1.jpg" />
		<a class="title" href="#">Product Title Steam Product lequid</a>
		<span class="remove" title="Удалить товар"></span>
		<span class="qty">Количество: 5</span>
		<span class="price">550</span>
	</div>
	<div class="listview-item">
		<img class="thumb" src="img/product-1.jpg" />
		<a class="title" href="#">Steam Product lequid</a>
		<button class="remove" type="submit" name="ms2_action" value="cart/remove" id="listviewItemRemove" title="Удалить товар"></button>
		<span class="qty">Количество: 3</span>
		<span class="price">12250</span>
	</div>
</div>