<div class="products-listview">
	<div class="item">
		<img class="thumb" src="img/product-1.jpg" />
		<a class="title" href="#">Product Title Steam Product lequid</a>
		<span class="remove">x</span>
		<span class="qty">Количество: 5</span>
		<span class="price">550</span>
	</div>
	<div class="item">
		<img class="thumb" src="img/product-1.jpg" />
		<a class="title" href="#">Steam Product lequid</a>
		<span class="remove">x</span>
		<span class="qty">Количество: 3</span>
		<span class="price">12250</span>
	</div>
	<div class="item">
		<img class="thumb" src="img/product-1.jpg" />
		<a class="title" href="#">Steam Product lequid</a>
		<span class="remove">x</span>
		<span class="qty">Количество: 3</span>
		<span class="price">12250</span>
	</div>
	<div class="item">
		<img class="thumb" src="img/product-1.jpg" />
		<a class="title" href="#">Steam Product lequid</a>
		<span class="remove">x</span>
		<span class="qty">Количество: 3</span>
		<span class="price">12250</span>
	</div>
	
</div>