.products-listview {
	padding: 7px 0;
	min-height: 200px;
	overflow-y: auto;
	&._white_background {
		> .listview-item {
			> .title { color: #464646 }
			> .qty > .input { 
				&::-webkit-inner-spin-button {
    		opacity: 1;
  			}
				color: $primary-color; 
			}
			> .remove { &:hover { color: #464646 } }

		}
	}	
	> .listview-item {
			@include _clearfix;
			position: relative;
			padding-top: 14px;
			padding-bottom: 14px;
			border-bottom: 1px solid #464646;
			font-size: 16px;
			line-height: 36px;
			&._empty { padding-top: 7px; }
		> .thumb {
				display: block;
				width: 20%;
				height: 72px;
				margin-right: 5%;
				float: left;
				@media (max-width: $breakpoint-small) { display: none; }
		}
		> .title {
				display: block;
				width: 70%;
				float: left;
				color: #eee;
				text-decoration: none;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
		}
		> .remove {
			position: absolute;
			top: 14px;
			right: 0;
			background-color: transparent;
			outline: none;
			border: none;
			line-height: 0;
			color: #a5a5a5;
			transition: .35s ease;
			cursor: pointer;
				&:hover {color: #eee;}
				&:after { 
					@include _icon; 
					content: $font-Flaticon-close;
					font-size: 11px;
				}
		}
		> .qty {
			display: block;
			width: 55%;
			float: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			> .input {
				border: 0;
		    background: transparent;
		    color: #eee;
		    padding: 0;
		    padding-left: 5px;
		    outline: 0;
		    width: 50px;
		    line-height: 16px;
				}
		}
		> .price {
			display: block;
			width: 20%;
			color: #eee;
			float: right;
			text-align: right;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			&:after { 
				@include _icon; 
				content: $font-Flaticon-ruble;
				font-size: 14px;
			}
		}
	}
}