.products-listview {
	padding: 7px 0;
	min-height: 200px;
	overflow-y: auto;
	> .item {
			@include _clearfix;
			position: relative;
			padding-top: 14px;
			padding-bottom: 14px;
			border-bottom: 1px solid #464646;
			font-size: 16px;
			line-height: 36px;
		> .thumb {
				display: block;
				width: 20%;
				height: 72px;
				margin-right: 5%;
				float: left;
				@media (max-width: $breakpoint-small) { display: none; }
		}
		> .title {
				display: block;
				width: 70%;
				float: left;
				color: #eee;
				text-decoration: none;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
		}
		> .remove {
			position: absolute;
			top: 14px;
			right: 0;
			line-height: 0;
			color: #a5a5a5;
			transition: .35s ease;
			cursor: pointer;
				&:hover {color: #eee;}
				&:after { 
					@include _icon; 
					content: $font-Flaticon-close;
					font-size: 11px;
				}
		}
		> .qty {
			display: block;
			width: 55%;
			float: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;		
		}
		> .price {
			display: block;
			width: 20%;
			color: #eee;
			float: right;
			text-align: right;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			&:after { 
				@include _icon; 
				content: $font-Flaticon-ruble;
				font-size: 14px;
			}
		}
	}
}