.page-related-products {
	margin: 0 auto;
	padding: 20px 0;
}

.page-related-products__header {
	font-size: 22px;
	font-weight: 400;
	color:#282828;
	padding: 28px;
	margin: 0;
}

@media (min-width: 768px) {
  .page-related-products {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-related-products {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-related-products {
    width: 1170px;
  }
}

@media (min-width: 1280px) {
  .page-related-products {
    width: 1280px;
  }
}