$primary-color: #707070;
$secondary-color: #dc9814;

$breakpoint-small: 544px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
$breakpoint-nolimit: 1280px;

@mixin _clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.base-layout {
	padding: 15px;
  min-height: 1px;
  margin: 0 auto;
  @media (min-width: $breakpoint-medium) {width: 750px;}
  @media (min-width: $breakpoint-large) {width: 970px;}
  @media (min-width: $breakpoint-extra-large) {width: 1170px;}
  @media (min-width: $breakpoint-nolimit) {width: 1280px;}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: rgba(255, 255, 255, .9);
}

footer {
  position: relative;
  background-color: #282828;
  width: 100%;
}