.single-layout {
	width: 100%;
	background-color: #eee;
	> .single-navigation {
		@extend .base-layout;
	}
	> .products-singleview {
		@extend .base-layout;
	}
	> .related-products {
		@extend .base-layout;
		padding-top: 20px;
		padding-bottom: 48px;
	}
}