.signin-layout {
		@include _clearfix;
		background-color: #f5f5f5;
		min-height: 575px;
		overflow: hidden;

	> .signin-form {
		position: relative;
		width: 100%;
		min-width: 330px;
    max-width: 502px;
    padding: 65px 27px;
    margin: 0 auto;
	}
	> .register-form {
		position: relative;
		width: 100%;
		min-width: 330px;
    max-width: 502px;
    padding: 65px 27px;
    margin: 0 auto;
 
	}
}