.account-details {
	@include _clearfix;
	padding: 0 73px 0 12px ;
	 .title {
    font-size: 26px;
    font-weight: 400;
    color: #282828;
    line-height: 1.2;
    padding: 50px 0;
    margin: 0;
	}
	> .button {
		display: inline-block;
    width: 48%;
    float: right;
    border: 0;
    padding: 12px;
    color: #ffffff;
    border: 1px solid #282828;
  	background-color: #282828;
  	font-size: 16px;
  	line-height: 19px;
  	cursor: pointer;
  	margin-top: 20px;
  	transition: .35s ease;
  	text-align: center;
  	outline: 0;
  	@media (max-width: $breakpoint-small) { width: 100% !important }
  	&:hover {background-color: #444;}
  	&._chPswd {
			float: left;
			background-color: #fff;
			color: #282828;
			&:hover {
				background-color: #282828;
				color: #fff;
			}
  	}
	}

	> .item {
		width: 100%;
		margin-bottom: 20px;
		@media (max-width: $breakpoint-small) { width: 100% !important }
		&._50p {
			float: left;
			width: 48%;
		}
		&._50pr {
			float: right;
			width: 48%;
		}
		> .label {
			display: inline-block;
	    font-size: 16px;
	    line-height: 1.4;
	    color: #282828;
	    padding-top: 5px;
	    padding-bottom: 8px;
	    > .required {
	    	padding-left: 5px;
	    	color: $secondary-color;
	    	opacity: .9;
	    }
		}
		> .input {
			display: block;
    	width: 100%;
    	line-height: 1.6;
    	outline: 0;
    	padding: 8px 10px;
    	border: 1px solid #e7e7e7;
    	border-radius: 0;
    	box-shadow: none;
    	transition: .35s ease;
    	&:focus {
    		border-bottom: 1px solid $secondary-color;
    	}
		}

	}

> .payment-delivery {
	margin-top: 30px;
	@include _clearfix;

	> .payment, .delivery {
			float: left;
			width: 50%;
			@media (max-width: $breakpoint-medium) { width: 100% }

			> .radioitem {
				display: block;
				position: relative;
				cursor: pointer;
				padding-left: 24px;
				margin-bottom: 15px;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 9px;
				width: 18px;
				height: 18px;
				border-radius: 10px;
				border: 1px solid $primary-color;
			}
			&:after {
				content: "";
				position: absolute;
		    left: 10px;
	    	top: 18px;
		    width: 0;
		    height: 0;
		    border-radius: 7px;
				background-color: $secondary-color;
				transition: .25s ease;
			}
		}
			> .radioiteminput {
				display: none;
				&:checked + .radioitem:after {
			    left: 4px;
			    top: 13px;
			    width: 10px;
			    height: 10px;
				}
			}
		}
	}
}