<div class="account-details">
	<h2 class="title">Детали заказа</h2>
	<div class="item">
		<label class="label" for="accountDetailsName">Имя и фамилия<span class="required">*</span></label>
		<input class="input" type="text" name="name" id="accountDetailsName" required />
	</div>
	<div class="item _50p">
		<label class="label" for="accountDetailsCity">Город<span class="required">*</span></label>
		<input class="input" disabled type="text" name="city" value="Ярославль" id="accountDetailsCity" />
	</div>
	<div class="item _50pr">
		<label class="label" for="accountDetailsAddress">Адрес доставки<span class="required">*</span></label>
		<input class="input" type="text" name="address" id="accountDetailsAddress" required />
	</div>
	<div class="item _50p">
		<label class="label" for="accountDetailsEmail">Адрес эл. почты<span class="required">*</span></label>
		<input class="input" type="email" name="email" id="accountDetailsEmail" required />
	</div>
	<div class="item _50pr">
		<label class="label" for="accountDetailsPhone">Телефон<span class="required">*</span></label>
		<input class="input" type="phone" name="phone" id="accountDetailsPhone" required />
	</div>

	<input type="submit" class="button" value="Сохранить">

	<div class="payment-delivery">
		<div class="delivery">
			<h2 class="title">Способ доставки</h2>
			<input class="radioiteminput" type="radio" name="address" id="1" required />
				<label class="radioitem" for="1" title="Самовывоз со склада на пр. Октября 72а/2">
					Самовывоз
				</label>

				<input class="radioiteminput" type="radio" name="address" id="2" required />
				<label class="radioitem" for="2" title="Стоимость доставки 100 рублей. При заказе от 750 рублей доставка бесплатна.">
					Доставка по Ярославлю
				</label>

		</div>
		<div class="payment">
			<h2 class="title">Оплата</h2>
			<input class="radioiteminput" type="radio" name="address" id="1" required />
				<label class="radioitem" for="1" title="Самовывоз со склада на пр. Октября 72а/2">
					Самовывоз
				</label>

				<input class="radioiteminput" type="radio" name="address" id="2" required />
				<label class="radioitem" for="2" title="Стоимость доставки 100 рублей. При заказе от 750 рублей доставка бесплатна.">
					Доставка по Ярославлю
				</label>
		</div>
	</div>
</div>