<div class="account-details">
	<h1 class="title">Детали заказа</h1>
	<div class="item">
		<label class="label" for="name">Имя и фамилия</label>
		<input class="input" type="text" name="name" />
	</div>
	<div class="item _50p">
		<label class="label" for="city">Город</label>
		<input class="input" disabled type="text" name="city" value="Ярославль" />
	</div>
	<div class="item _50p">
		<label class="label" for="address">Адрес доставки</label>
		<input class="input" type="text" name="address" />
	</div>
	<div class="item _50p">
		<label class="label" for="email">Адрес эл. почты</label>
		<input class="input" type="email" name="email" />
	</div>
	<div class="item _50p">
		<label class="label" for="phone">Телефон</label>
		<input class="input" type="phone" name="phone" />
	</div>

</div>