<div class="account-details">
	<h2 class="title">Детали заказа</h2>
	<div class="item">
		<label class="label" for="accountDetailsName">Имя и фамилия<span class="required">*</span></label>
		<input class="input" type="text" name="name" id="accountDetailsName" required />
	</div>
	<div class="item _50p">
		<label class="label" for="accountDetailsCity">Город<span class="required">*</span></label>
		<input class="input" disabled type="text" name="city" value="Ярославль" id="accountDetailsCity" />
	</div>
	<div class="item _50pr">
		<label class="label" for="accountDetailsAddress">Адрес доставки<span class="required">*</span></label>
		<input class="input" type="text" name="address" id="accountDetailsAddress" required />
	</div>
	<div class="item _50p">
		<label class="label" for="accountDetailsEmail">Адрес эл. почты<span class="required">*</span></label>
		<input class="input" type="email" name="email" id="accountDetailsEmail" required />
	</div>
	<div class="item _50pr">
		<label class="label" for="accountDetailsPhone">Телефон<span class="required">*</span></label>
		<input class="input" type="phone" name="phone" id="accountDetailsPhone" required />
	</div>

	<input type="submit" class="button" value="Сохранить">


	<div class="payment-method">
	<h2 class="title">Способ оплаты</h2>
		<div class="payment-item" title="hey!!!">
			<input type="radio" class="radio" name="payment" value="" id="1">
			<label class="label" for="1">
				<img src="img/yandex-money-logo.png">
			</label>
		</div>
		<div class="payment-item" title="hey!!!">
			<input type="radio" class="radio" name="payment" value="" id="2">
			<label class="label" for="2">
				<img src="img/yandex-money-logo.png">
			</label>
		</div>
		<div class="payment-item" title="hey!!!">
			<input type="radio" class="radio" name="payment" value="" id="3">
			<label class="label" for="3">
				<img src="img/yandex-money-logo.png">
			</label>
		</div>
	</div>
</div>