.cart-widget {
	position: fixed;
	display: none;
	z-index: 11;
	top:0;
	right: 0;
	width: 400px;
	height: 100%;
	background-color: #333;
	padding: 0 37px;
}

@media (max-width: 400px) {
  .cart-widget {
    width: 100%;
  }
}

.cart-widget__close-link {
	position: relative;
	text-align: right;

}

.cart-widget__close-link:after {
	content: "";
	clear: both;
}

.cart-widget__products-list {

}