.user-menu {
	position: relative;

	> .item {
		position: relative;
		padding: 16px 12px;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		transition: .35s ease-in-out;
	  color: $primary-color;
		&._logout {
			padding: 0;
			&:before {
				@include _icon;
				content: $font-Flaticon-logout;
				font-size: 17px; 
				margin-left: -10px; }
				&:hover { color: $secondary-color; }
			}
	  &:hover { color: $secondary-color; }
	  &:first-child {
			@media (max-width: $breakpoint-medium) {display: none;}
		}
	}
}