.product-item {
	position: relative;
	float: left;
	width: 25%;
	padding: 0 12px 24px 12px;
	font-size: 16px;
	overflow: hidden;
	text-decoration: none;
	@media (max-width: $breakpoint-large) { width: 50%; }
	&:hover {
		> .title { color: #282828;}
		> .addtocart { left: 12px; }
		> .price { left: -100%; }
	}
	> .thumb-box {
		position: relative;
		> .vendor {
			position: absolute;
			width: 15%;
			height: 15%;
			right: 0;
			top: 0;
			z-index: 1;
		}
		> .image {
			position: relative;
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}
	> .title {
		float: left;
		width: 85%;
		font-weight: 300;
		font-size: 1em;
		color: $primary-color;
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		transition: .35s ease-in-out;
	}
	> .like {
		float: right;
		width: 15%;
		text-align: right;
		cursor: pointer;
		font-size: 14px;
		line-height: 32px;
		font-weight: 600;
		color: $primary-color; 
		transition: .35s ease;
		&:hover { 
			color: $secondary-color; 
		}
		&:before {
			@include _icon;
			content: $font-Flaticon-like;
			font-size: 16px; 
			padding-right: 6px;
		}
	}
	> .price {
		position: relative;
		color: #282828;
		transition: .35s ease-in-out;
		left: 0;
		&:after {
			@include _icon;
			content: $font-Flaticon-ruble;
			font-size: 14px;
		}
	}
	> .addtocart {
		position: absolute;
		left: -100%;
		border: 0;
		padding: 0;
		background-color: transparent;
		outline: 0;
		border-bottom: 1px solid #cfcfcf;
		cursor: pointer;
		transition: .35s ease-in-out;

		&:hover {
			color: $secondary-color;
		}
	}
}