.shop-header {
  position: relative;
}

.shop-header:after {
	display: table;
  content: " ";
  clear: both;
}

.shop-header__category-menu {
	width: 75%;
	float: left;
	min-height: 1px;
	padding-right: 16px;
  padding-left: 16px;
  text-align: left;
}

.shop-header__search-menu {
	width: 25%;
	float: right;
	min-height: 1px;
	padding-right: 16px;
  padding-left: 16px;
  text-align: right;
}