.humburger-icon {
	display: block;
	width: 21px;
	height: 16px;
	position: relative;
	transition: .5s ease-in-out;
	cursor: pointer;

	> .line {
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: $primary-color;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}

	> .line:nth-child(1) { top: 0; }
	> .line:nth-child(2) { top: 7px; }
	> .line:nth-child(3) { top: 14px; }

	&._checked {
		> .line { background: $secondary-color; }
		> .line:nth-child(1) { top: 7px; transform: rotate(135deg); }
		> .line:nth-child(2) { opacity: 0; left: -60px; }
		> .line:nth-child(3) { top: 7px; transform: rotate(-135deg); }
	}

	&:hover {
		> .line { background: $secondary-color}
	}
}