.main-menu {

	> .item {
		position: relative;
		text-decoration: none;
		padding: 16px 12px;
		color: $primary-color;
		transition: .25s ease;
		&:hover { color: #282828; }
	}

	> .item:after {
		content: "";
		position: absolute;
		width: 0;
		height: 2px;
		left: 45%;
		bottom: 12%;
		background-color: $secondary-color;
		transition: .35s ease-in-out;
	}

	>	.item:hover:after, .item._active:after  { width: 77%; left: 10px;}
	@media (max-width: $breakpoint-medium) {display: none;}
}