.main-menu {

	> .item {
		position: relative;
		text-decoration: none;
		padding: 16px 12px;
		color: $primary-color;
		transition: .35s ease-in-out;
		&:hover { color: #282828; }
	}

	> .item:after {
		content: "";
		position: absolute;
		width: 0;
		height: 1px;
		left: 10%;
		bottom: 15%;
		background-color: #cfcfcf;
		transition: .5s ease-in-out;
	}

	>	.item:hover:after { width: 77%; }
	@media (max-width: $breakpoint-medium) {display: none;}
}