<div class="news-list">
	<h1 class="header">Свежие новости вейпинга</h1>
	<div class="blog-content">
		<article class="blog-item">
			<div class="image" style="background-image: url('img/banner.jpg');"></div>
			<h2 class="header">Заголовок</h2>
			<p class="meta">Публикация от 17 окт 2016 г.</p>
			<span class="teaser">
				Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque...
			</span>
			<a href="#" class="readmore">Читать далее</a>
		</article>
		<div class="blog-pagination">
			<a class="item" href="#">1</a>
			<a class="item" href="#">2</a>
			<a class="item" href="#">3</a>
			...
			<a class="item" href="#">98</a>
		</div>
	</div>
	<sidebar class="widgets-sidebar">
		<div id="vkPublications"></div>
	</sidebar>
</div>