@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
  font-family: Flaticon;
  font-size: 18px;
  font-style: normal;
  margin-left: 10px;
}

.icon--close:before { content: "\f100"; }
.icon--facebook:before { content: "\f101"; }
.icon--mail:before { content: "\f102"; }
.icon--play:before { content: "\f103"; }
.icon--play-back:before { content: "\f103"; display: inline-block; transform: scale(-1,1);}
.icon--ruble:before { content: "\f104"; }
.icon--search:before { content: "\f105"; }
.icon--twitter:before { content: "\f106"; }
.icon--vk:before { content: "\f107"; }
.icon--wish:before { content: "\f108"; }