.logo {

}

.logo__link {
	display: block;
	position: relative;
	padding: 16px 0;
}

.logo__img {
	display: block;
	margin: 0 auto;
  width: auto;
  max-width: none;
  height: 16px;
  vertical-align: middle;
}