<form class="register-form">
	<h2 class="title">Регистрация</h2>
	<label class="label" for="signinFormEmail">Адрес эл. почты</label>
	<input type="email" class="input" name="email" id="signinFormEmail" value="">
	<label class="label" for="signinFormPassword">Пароль</label>
	<input type="password" class="input" name="email" id="signinFormPassword" value="">
	<input type="submit" class="button" name="login" value="Регистрация">
	<span class="or">или</span>
	<span class="signin" data-form-toggle>Вход</span>
</form>