<form class="signin-form">
	<h2 class="title">Войти</h2>
	<label class="label" for="signinFormEmail">Адрес эл. почты</label>
	<input type="email" class="input" name="email" id="signinFormEmail" value="">
	<label class="label" for="signinFormPassword">Пароль</label>
	<input type="password" class="input" name="email" id="signinFormPassword" value="">
	<input name="rememberme" type="checkbox" id="rememberMe" class="_rememberme" value="forever">
	<label class="remember" for="rememberMe">Запомнить меня</label>
	<a class="lostpassword" href="#">Забыли пароль?</a>
	<input type="submit" class="button" name="login" value="Вход">
	<span class="or">или</span>
	<span class="register" data-form-toggle>Регистрация</span>
</form>