<div class="single-post">
	<h1 class="header">Заголовок</h1>
	<span class="meta">Публикация от 4 января, 2017</span>
	<img class="image" src="img/banner.jpg">
	<article class="post-teaser">
		<p class="teaser">
			Messenger bag raw denim health goth pour-over, twee Neutra Vice ethical bespoke. Irony hashtag mixtape kogi blog you probably haven’t heard of them, fashion axe readymade scenester flexitarian. Ugh bespoke actually vinyl photo booth tattooed paleo Pinterest Schlitz. Cronut hella selfies, flexitarian sriracha keffiyeh Intelligentsia biodiesel.
		</p>
		<div class="vk-widget" id="vkWidget"></div> 
	</article>
	<article class="post-content">
			<span class="quotes">Messenger bag raw denim health goth pour-over, twee Neutra Vice ethical bespoke.</span>
			Messenger bag raw denim health goth pour-over, twee Neutra Vice ethical bespoke. Irony hashtag mixtape kogi blog you probably haven’t heard of them, fashion axe readymade scenester flexitarian. Ugh bespoke actually vinyl photo booth tattooed paleo Pinterest Schlitz. Cronut hella selfies, flexitarian sriracha keffiyeh Intelligentsia biodiesel.Messenger bag raw denim health goth pour-over, twee Neutra Vice ethical bespoke. Irony hashtag mixtape kogi blog you probably haven’t heard of them, fashion axe readymade scenester flexitarian. Ugh bespoke actually vinyl photo booth tattooed paleo Pinterest Schlitz. Cronut hella selfies, flexitarian sriracha keffiyeh Intelligentsia biodiesel.
	</article>
	<nav class="social-menu _post">
			Интересно? Поделитесь с друзьями
			<a class="item _vk" target="_blank" href="#"></a>
			<a class="item _ok" target="_blank" href="#"></a>
			<a class="item _facebook" target="_blank" href="#"></a>
			<a class="item _twitter" target="_blank" href="#"></a>
		</nav>
</div>