.page-header-user-menu {
	display: inline-block;
  line-height: 1;
  vertical-align: middle;
  float: right;
}

.page-header-user-menu__item {
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding: 16px 12px;
	color: #707070;
	transition: .35s ease;
  cursor: pointer;
}

.page-header-user-menu__item:hover {
	color: #dc9814;
}

.page-header-user-menu__item--active {
	color: #dc9814;
}

.page-header-user-menu__cart-count {
  position: absolute;
  right: -3px;
  top: 20%;
  font-size: 14px;
  color: #dc9814;
}

.page-header-user-menu__item--sign-in:hover .page-header-user-menu__login-panel {
  visibility: visible;
  opacity: 1;
  top: 50px;
}

.page-header-user-menu__login-panel {
  position: absolute;
  visibility: hidden;
  top: -100%;
  left: -133px;
  transition: .25s ease-in-out;
  opacity: 0;
}

@media (max-width: 768px) {
  .page-header-user-menu__item--sign-in,
  .page-header-user-menu__item--profile {
    display:none;
  }
}