.page-header-logo {

}

.page-header-logo__link {
	display: block;
	position: relative;
	padding: 16px 0;
}

.page-header-logo__img {
	display: block;
	margin: 0 auto;
  width: auto;
  max-width: none;
  height: 18px;
  vertical-align: middle;
}