.page-header-user-menu {
	display: inline-block;
  line-height: 1;
  vertical-align: middle;
  float: right;
}

.page-header-user-menu__item {
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding: 16px 12px;
	color: #707070;
	transition: .35s ease;
}

.page-header-user-menu__item:hover {
	color: #282828;
}

.page-header-user-menu__item--active {
	color: #282828;
}

.page-header-user-menu__cart-count {
  position: absolute;
  right: -3px;
  top: 20%;
  font-size: 14px;
  color: #dc9814;
}

@media (max-width: 768px) {
  .page-header-user-menu__item--sign-in {
    display:none;
  }
}