.page-header-user-menu-login-panel {
	position: relative;
	display: inline-block;
	background: #fff;
	border: 1px solid #ddd;
	padding: 2px;
	min-width: 318px;
  height: 54px;
}
.page-header-user-menu-login-panel:after, .page-header-user-menu-login-panel:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.page-header-user-menu-login-panel:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.page-header-user-menu-login-panel:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

.page-header-user-menu-login-panel__item {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.page-header-user-menu-login-panel__item:after {
	content: " ";
	display: table;
	clear: both;
}