@font-face {
    font-family: 'bonapart-modern';
    src: url('fonts/bonapart-modern-webfont.eot');
    src: url('fonts/bonapart-modern-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bonapart-modern-webfont.woff2') format('woff2'),
         url('fonts/bonapart-modern-webfont.woff') format('woff'),
         url('fonts/bonapart-modern-webfont.ttf') format('truetype'),
         url('fonts/bonapart-modern-webfont.svg#bonapart-modernregular') format('svg');
    font-weight: normal;
    font-style: normal;
}