.minicart-widget {
	&._hided {
		right: -100%;
	}

	position: fixed;
	top: 0;
	right: 0;
	min-width: 330px;
	width: 25%;
	z-index: 4;
  height: 100%;
  background-color: #333;
  transition: right 1s cubic-bezier(.61,.44,.17,1.2);
  padding: 0 35px;
  text-align: right;

  &:after {
  	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    right: -100%;
    top: 0;
  }
	> .close {
		display: block;
		color: #eee;
		cursor: pointer;
		padding: 25px 0;
		transition: color .35s ease-in-out;
		border-bottom: 1px solid #464646;
	}

	> .close:hover {
		color: $secondary-color;
	}
}