.order-outer {
	> .account-details {
		float: left;
  	width: 66.66666667%;
  	@media (max-width: $breakpoint-large) {
  		width: 100%;
  		float: none;
  		padding-right: 12px;
  	}
	}
	> .cart-details {
		float: right;
  	width: 33.33333333%;
  	@media (max-width: $breakpoint-large) {
  		width: 100%;
  		float: none;
  		padding-left: 12px;
  	}
	}
}