.page-product-content-item-info {

}

.page-product-content-item-info__header {
	font-size: 26px;
	font-weight: 400;
	color:#282828;
  line-height: 1.2;
	margin: 0;
}

.page-product-content-item-info__price {
	display: block;
	color: #dc9814;
	font-size: 22px;
	font-weight: 300;
	line-height: 1;
  vertical-align: top;
  padding: 12px 0 22px;
}

.page-product-content-item-info__price > .icon--ruble:before {
	margin-left: -5px;
	font-size: 18px;
}

.page-product-content-item-info__description {
	margin: 0;
  line-height: 1.8;
  padding-bottom: 22px;
}

.page-product-content-item-info__quantity {

}

.page-product-content-item-info__add-to-cart-button {
	display: inline-block;
  width: 100%;
  color: #ffffff;
  background-color: #282828;
  padding: 14px;
	font-size: 16px;
	line-height: 16px;
  border: 0 none;
  transition: .35s ease;
  cursor: pointer;
}

.page-product-content-item-info__add-to-cart-button:hover {
	background-color: #444;
}

.page-product-content-item-info__social-menu {

}

.social-menu--info > .social-menu__icon {
	color: #a0a0a0;
}

.social-menu--info > .social-menu__icon:hover {
	color: #282828;
}

.social-menu--info > .social-menu__icon:first-child {
	padding-right: 15px;
  border-right: 1px solid #dadada;
}