.page-product-content-item {
	padding: 20px 12px;
}

.page-product-content-item:before,
.page-product-content-item:after {
	display: table;
  content: " ";
  clear: both;
}

.page-product-content-item__previews {
	position: relative;
	width: 10%;
	float: left;
	padding-right: 16px;
  padding-left: 16px;
}

.page-product-content-item__image {
	position: relative;
	width: 50%;
	float: left;
	padding-right: 16px;
  padding-left: 16px;
}

.page-product-content-item__info {
	position: relative;
	width: 30%;
	float: right;
	padding-right: 16px;
  padding-left: 16px;
}