.page-product-content {
  margin: 0 auto;
}
.page-product-content:before,
.page-product-content:after {
  display: table;
  content: " ";
  clear: both;
}

.page-product-content__navigation {
	position: relative;
	margin: 81px auto 0 auto;
  width: 100%;
}

.page-product-content__item {

}

.page-product-content__description {

}

.page-product-content__related {

}

.page-product-content__related .shop-products--related {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .page-product-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-product-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-product-content {
    width: 1170px;
  }
}

@media (min-width: 1280px) {
  .page-product-content {
    width: 1280px;
  }
}