.page-product-content-navigation {
	position: relative;
	padding: 20px 12px;
}

.page-product-content-navigation:after,
.page-product-content-navigation:before {
	display: table;
  content: " ";
  clear: both;
}

.page-product-content-navigation__breadcrumb {
	width: 75%;
	float: left;
	padding-right: 16px;
  padding-left: 16px;
  text-align: left;
}

.page-product-content-navigation__buttons {
	width: 25%;
	float: right;
	padding-right: 16px;
  padding-left: 16px;
  text-align: right;
}