.page-footer {
	margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 15px;
}

.page-footer:before,
.page-footer:after {
	display: table;
  content: " ";
  clear: both;
}

.page-footer__nav-menu {
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 80%;
  float: left;
  text-align: left;
}

.page-footer__social-menu {
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float: right;
  text-align: right;
}


@media (min-width: 768px) {
  .page-footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1170px;
  }
}

@media (min-width: 1280px) {
  .page-footer {
    width: 1280px;
  }
}

@media (max-width: 992px) {
  .page-footer__nav-menu {
  	width: 100%;
  	margin: 0 auto;
  	text-align: center;
  }
  .page-footer__social-menu {
  	width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}